{
  "root": true,
  "extends": [
    "eslint:recommended",
    "prettier"
  ],
  "plugins": [
    "mocha-no-only"
  ],
  "env": {
    "es2022": true,
    "browser": true,
    "node": true,
    "mocha": true
  },
  "globals": {
    "artifacts": "readonly",
    "contract": "readonly",
    "web3": "readonly",
    "expect": "readonly"
  },
  "rules": {
    "mocha-no-only/mocha-no-only": [
      "error"
    ]
  }
}
