name: CI

on:
  push: {}
  pull_request: {}
  release:
    types:
      - created

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Setup Code
        uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: '14.x'

      - name: Install dependencies
        run: npm install

      - name: Linter
        run: npm run lint

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Setup Code
        uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: '14.x'

      - name: Install dependencies
        run: npm install

      - name: Test
        run: npm test

  coverage:
    name: Coverage
    runs-on: ubuntu-latest
    steps:
      - name: Setup Code
        uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: '14.x'

      - name: Install dependencies
        run: npm install

      - name: Coverage
        run: npm run coverage

      - name: Post to Coveralls
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

#  nightly_build:
#    name: Nightly Build
#    runs-on: ubuntu-latest
#
#    steps:
#      - name: Setup Code
#        uses: actions/checkout@v2
#
#      - name: Setup Node
#        uses: actions/setup-node@v1
#        with:
#          node-version: '14.x'
#
#      - name: Install dependencies
#        run: npm install
#
#      - name: Nightly Build
#        run: npm run truffle:test
#        env:
#          SOLC_NIGHTLY: true
